.container {
  margin-bottom: 5rem;
}

.mainTitle {
  font-weight: 200;
  font-size: 2.5rem;
  color: #3f3f3f;
  text-align: center;
}

.about{
  background-image: url("/about.svg");
  background-position: center;
  background-repeat: space;
}