.hero {
  background-image: url("/bg.svg");
  background-position: top;
  background-repeat: initial;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 2rem;
}

.slider {
  width: 500px;

}

.details {
  margin: 2rem;
}

.details ul li {
  font-weight: 200;
  font-size: 1.1rem
}
.featureSection {
  display: flex;
  margin: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.featurePictures {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.featurePictures img {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 1rem;
}

.featureDetails {
  max-width: 450px;
  margin: 2rem;
}