.hero {
  margin-top:5rem;
  background-image: url("/cover.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  padding-bottom: 65.625%;
  display: block;
  position: relative;
}
.heroText {
  position: absolute;
  color: #fff;
  font-weight: 700;
  top: 20%;
  left: 20%;
  font-size: 4vw;
  line-height: 1.5rem;
}
.heroTextSmall {
  font-size: 2vw;
  line-height: .5rem;
}
.heroDetails {
  background-image: url("/polygon.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  padding-bottom: 28.385%;
  height: 0;
  position: relative;
  @media screen and (max-width: 745px) {
    padding-bottom:0;
    height: auto;
  }
  @media screen and (max-width: 1100px) and (min-width: 745px) {
    padding-bottom:5%;
    height: auto;
  }


  p {
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 5vw;
    text-align: center;
    font-size: 1.5rem;
    @media screen and (max-width: 745px) {
      font-size: 1.2rem;
      margin-left: 2vw;
      margin-right: 2vw;
      padding-top: 2vw
    }
  }

}

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2vw;
  padding: 2vw;
}

.slider {
  width: 500px;

}

.details {
  margin: 2rem;
}

.details ul li {
  font-weight: 200;
  font-size: 1.1rem
}
.featureSection {
  display: flex;
  margin: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.featurePictures {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.featurePictures img {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 1rem;
}
