.container {
  margin-bottom: 12rem;
  margin-top: 4rem;
}

.mainTitle {
  font-weight: 200;
  font-size: 2.5rem;
  color: #3f3f3f;
}

.bg{
  background-image: url("/about.svg");
  background-position: center;
  background-repeat: space;
}